
.country-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px;
  justify-content: center;
  padding: 40px;
}
.country-card {
  background-color: #cab674;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); 
  border-radius: 15px; 
  position: relative;
  padding-top: 60px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  height: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.country-card:hover {
  transform: translateY(-10px); 
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);  */
}
.country-card img {
  max-width: 150px;
  max-height: 100px; 
  object-fit: contain; 
  margin: 20px auto; 
  transition: transform 0.3s ease; 
}
.country-card:hover img {
  transform: scale(1.1); 
}
.countryname {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
}
.country-card button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #cab674;
  color: white;
  border: none;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
.country-card button:hover {
  background-color: #003f7f; 
}
.country-card p {
  color: white;
  margin: 8px 0;
}
.logout {
  margin-left: 90%;
  margin-top: 10px;
}
.message {
  text-align: center;
}
@media (max-width: 768px) {
  .country-grid {
    flex-direction: row;
  }
  .country-card {
    max-width: 100%;
    padding: 20px;
  }
  .countryname {
    font-size: 1rem;
  }
  .country-card img {
    margin-top: 30px;
  }
  
}